# Project information
site_name: Guide utilisateur CollectiveAccess
site_description: 'Documentation pour les utilisateurs de CollectiveAccess avec le plugin Musées De France'
site_author: 'idéesculture'

pages:
- Accueil: index.md
- Guide d'aide à la réalisation d'un inventaire:
    - I. Introduction: chapter1.md
    - II. Catalogage, recherche et récolement des objets mobiliers dans CollectiveAccess: chapter2.md
    - III. Règles d'impression et de mise en forme du registre réglementaire d'inventaire: chapter3.md
    - IV. Règles d'inventaire des Musées de France: chapter4.md

# Repository
repo_name: 'GitHub'
repo_url: 'http://ideesculture.github.io/guide-utilisateur-collectiveaccess'

theme:
  name: material

# Options
extra:
  version: '1.0'
  logo: 'images/logo.png'
  author:
    github: 'ideesculture'
    twitter: 'ideesculture'
  faq:
    url: 'https://ideesculture.zendesk.com/hc/fr'

# Extensions
markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - admonition
  - toc:
      permalink: '¶'